@tailwind base;
@tailwind components;
@tailwind utilities;

@media print{
    body * {
        visibility: hidden;
    }

    #to-print, #to-print *{
        visibility: visible;
    }
    #to-print{
        position: absolute;
        top: 0;
        width: 100%;
    }
}